<div class="wrapper">
    <div class="container">
        <div class="hat-bg">
            <img [src]="hat" alt="Bob Dylan">
        </div>
        <h1>Bob Dylan</h1>
        <p>{{ bio }}</p>
        <h1>Merch</h1>
        <div class="merches">
            <div><img src="./assets/about/1.jpg" alt="shirt"></div>
            <div><img src="./assets/about/2.jpg" alt="shirt"></div>
            <div><img src="./assets/about/3.jpg" alt="shirt"></div>
            <div><img src="./assets/about/4.jpg" alt="shirt"></div>
            <div><img src="./assets/about/5.jpg" alt="shirt"></div>
            <div><img src="./assets/about/6.jpg" alt="shirt"></div>
        </div>
    </div>
</div>